<div class="bg-dark-900">
  <div class="flex justify-center h-screen">
    <div
      class="hidden bg-cover lg:block lg:w-2/3"
      style="
        background-image: url(/assets/images/img/cafer-mert-ceyhan-LAY19dUD_ro-unsplash.jpg);
      "
    >
      <div class="flex items-center h-full px-20 bg-dark-800 bg-opacity-60">
        <div>
          <h2 class="text-2xl font-bold text-white sm:text-3xl">
            Restablecer Contraseña
          </h2>

          <div
            class="flex items-center py-4 overflow-x-auto whitespace-nowrap text-light-100"
          >
            <a href="#" class="">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-5 h-5"
                viewBox="0 0 20 20"
                fill="currentColor"
              >
                <path
                  d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z"
                />
              </svg>
            </a>

            <span class="mx-5"> / </span>

            <a href="#" class="hover:underline"> Cuenta </a>
          </div>

          <p class="max-w-xl mt-3 text-light-100">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. In autem
            ipsa, nulla laboriosam dolores, repellendus perferendis libero
            suscipit nam temporibus molestiae
          </p>
        </div>
      </div>
    </div>

    <div class="flex items-center w-full max-w-md px-6 mx-auto lg:w-2/6">
      <div class="flex-1">
        <div class="text-center">
          <div class="flex justify-center mx-auto">
            <img
              class="w-auto h-7 sm:h-8"
              src="/assets/images/logos/logo.svg"
              alt=""
            />
          </div>

          <p class="mt-3 text-white text-2xl font-semibold">
            Restablecer Contraseña
          </p>
        </div>

        <div class="mt-8">
          <app-reset-password-form></app-reset-password-form>

          <p class="mt-6 text-sm text-center text-gray-400">
            Aún no tienes una cuenta?
            <a
              href="#"
              class="text-rose-600 focus:outline-none focus:underline hover:underline"
              >Regístrarse</a
            >.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
